<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mylady.model.mappers.app.ApUnlikesBehaviorMapper">

    <resultMap id="BaseResultMap" type="top.mylady.model.behavior.pojos.ApUnlikesBehavior">
        <id column="id" property="id"/>
        <result column="entry_id" property="entryId"/>
        <result column="article_id" property="articleId"/>
        <result column="type" property="type"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, entry_id, type, created_time
    </sql>

    <select id="selectLastUnLike" resultMap="BaseResultMap">
        select * from ap_unlikes_behavior where entry_id=#{entryId} and article_id=#{articleId} order by created_time desc limit 1
    </select>

    <!--不喜欢-->
    <insert id="insertDisLike" parameterType="top.mylady.model.behavior.pojos.ApUnlikesBehavior">
        insert into ap_unlikes_behavior (entry_id, article_id, type, created_time)
        values
            (#{entryId}, #{articleId}, #{type, jdbcType=TINYINT}, #{createdTime})
    </insert>

    <!--
    Create Table: CREATE TABLE `ap_unlikes_behavior` (
          `id` int unsigned NOT NULL,
          `entry_id` int unsigned DEFAULT NULL COMMENT '实体ID',
          `article_id` int unsigned DEFAULT NULL COMMENT '文章ID',
          `type` tinyint unsigned DEFAULT NULL COMMENT '0 不喜欢\r\n    1 取消不喜欢',
          `created_time` datetime DEFAULT NULL COMMENT '登录时间',
      PRIMARY KEY (`id`) USING BTREE
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC COMMENT='APP不喜欢行为表'
    1 row in set (0.00 sec)
    -->



</mapper>